{% extends "base.html" %}
{% block title %}Privacy - DSC-IEM Blogs{% endblock %}
{% block content %}
<div class="container size-xs ink-secondary base-semilight">
   <br />
   <div class="size-xl ink-grey base-semibold">Privacy Policy</div>
   <br />
   This Privacy Policy explains how DSC-IEM (“DSC-IEM,” “we,” or “us”) collects, uses, and discloses
   information about you. This Privacy Policy applies when you use our websites, mobile applications, and other online
   products and services that link to this Privacy Policy (collectively, our “Services”), contact our customer service
   team, engage with us on social media, or otherwise interact with us.
   We may change this Privacy Policy from time to time. We encourage you to review this Privacy Policy regularly to stay
   informed about our information practices and the choices available to you.
   DSC-IEM Blogs does not share personal information with third-parties nor does
   we store information collected about your visit other than to analyze
   content performance through the use of cookies, which you can turn off at anytime by modifying your Internet
   browser’s settings. The owner is not responsible for the republished content found on this blog on other Web
   sites or media without permission. All personal information collected online is subject to global privacy
   regulations.

   <h2>Information We Collect</h2>

   We only collect information about you if we have a reason to do so — for example, to provide our Services, to
   communicate with you, or to make our Services better.
   <br/>
   We collect this information from three sources: if and when you provide information to us, automatically through
   operating our Services, and from outside sources.

   <h2>Blog Comments Policy</h2>

   The owner of this blog reserves the right to edit or delete any comments submitted to this blog without notice due
   to:
   <ol>
      <li>Comments deemed to be spam or questionable spam.</li>

      <li>Comments including profanity.</li>

      <li>Comments containing language or concepts that could be deemed offensive.</li>

      <li>Comments that attack a person individually.</li>
   </ol>
   This privacy policy statement is made on [December 03, 2020] and may change in the future with or without
   notice.
   <br>
   <br>
</div>
{% endblock %}