.blog-title{
    padding: 0.5rem 0px;
}
.blog-author{
    width: fit-content;
    display: block;
    padding-left: 0rem;
    text-decoration: none;
    margin-bottom: 0.2rem;
}
.blog-author:hover{
    color: var(--primary);
}
.blog_opts{
    max-width: 34em;
}
.b_img{
    width:100%;
    height: 32rem;
    max-height: 78vh;
    position: relative;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top:0px;
    left: 0px;
}
.parallax-mirror{
    z-index: 0 !important;
}
@media(max-width:700px){
    .b_img{
        max-height: 45vh;
        min-height: 15rem;
    }
}
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0))!important;
    position: absolute;
    top:0px;
    z-index: 1;
}