#s1{
    padding: 3rem 1rem;
    padding-top: 6rem;
}
#s1_title{
    font-size: 5rem;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 3rem;
    font-family: Gravity,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
#topic_title{
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
@media(max-width:600px){
    #s1_title{
        font-size: 4rem
    }
    #topic_title{
        font-size: 2.5rem
    }
}