#header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(219, 219, 219, 0.54);
  z-index: 2;
  border-bottom: solid thin;
}
#hd_space{
  height: 3rem;
}
#header.float{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
[data-theme="dark"] #header {
  background-color: rgba(55, 55, 55, 0.56);
}
#hd_hero {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hd_icon {
  height: 3rem;
}
.hd_opt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.6rem;
  box-shadow: 3px 3px 0px #989898;
  background-color: rgba(235, 235, 235, 0.856);
}
[data-theme="dark"] .hd_opt {
  box-shadow: 3px 3px 0px #9e9e9e;
  background-color: rgba(31, 31, 31, 0.856);
}
.hd_opt:hover, .notification-wrapper.active #notification-bell{
  box-shadow: 5px 5px 0px #989898;
  background-color: rgb(255, 255, 255);
  color:rgb(46, 46, 46);
}

.notification-wrapper .notification{
  width: 400px;
  max-height: 250px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 10px;
  overflow-y: auto;
  background: rgb(244, 244, 244);
  border: 1px solid rgb(0 0 0 / 95%);
  box-shadow: 4px 5px 0px rgb(72, 72, 72);
  z-index: 0;
  opacity: 0;
  transition: all .3s ease-in;
  border-radius: 0.2rem;
  padding: 0.5rem 0.7rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, .3) transparent;
}
.notification-wrapper .notification::-webkit-scrollbar-track {
  background: transparent;
}
.notification-wrapper .notification::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, .3);
  border-radius: 8px;
}
.notification-wrapper .notification::-webkit-scrollbar {
    width: 6px;
}
[data-theme="dark"] .notification-wrapper .notification{
  background: rgb(38, 38, 38);
  border: 1px solid rgb(255 255 255 / 95%);
  box-shadow: 4px 5px 0px rgb(166, 166, 166);
}
.notification-wrapper.active .notification{
  z-index: 3;
  opacity: 1;
}
.notification-wrapper #no-alerts{
  text-align: center;
  color: var(--primary);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 1.5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: .5rem 0;
}
.notification-wrapper .notification .alerts-wrapper{
  text-align: left;
  width: 100%;
  margin-top: 5px;
}
.notification-wrapper .notification .alerts-wrapper:last-child{
  margin-top: 0;
}
.notification-wrapper .notification .alerts-wrapper .alert:last-child{
  border-bottom: none!important;
}
.alerts-wrapper .type {
  font-weight: 700;
  border-bottom: solid 1px;
  width: 100%;
  display: block;
  padding-left: 5px;
  padding-bottom: 5px;

}
.alerts-wrapper .alert{
  margin: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: .85rem;
  padding-left: 5px;
  border-bottom: solid .5px #c8c8c8;
  color: rgb(59 59 59);
  font-weight: 400;
}
[data-theme="dark"] .alerts-wrapper .alert{
  color: rgb(186 186 186);
  border-bottom: solid .5px #474747;
}
.notification-wrapper .notification #old-alerts .alert{
  color: var(--grey);
}
.alerts-wrapper .alert a{
  color: var(--secondary);
  font-weight: 600;
}
.alerts-wrapper .timespan{
  font-size: 11px;
  padding: 5px 0;
  color: #827e7e;
  font-weight: 100;
}

.notification-wrapper img{
  width: 20px;
  height: 20px;
}
.notification-wrapper .alert_number{
  position: absolute;
  text-align: center;
  font-size: 10px;
  background: red;
  color: white;
  width: 13px;
  border-radius: 50%;
  height: 13px;
  right: 13px;
  display: none;
}
.notification-wrapper #notification-bell{
  position: relative;
}
.notification-wrapper.active #notification-bell{
  position: relative;
  opacity: 1!important;
}
[data-theme="dark"] .notification-wrapper.active #notification-bell{
  background: rgb(57, 57, 57)!important;
}
[data-theme="dark"] .hd_opt:hover, .notification-waaarapper.active #notification-bell {
  box-shadow: 5px 5px 0px #747474;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
#hd_toggleBox {
  padding: 0.2rem 0.6rem;
}
#hd_themeToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  padding: auto;
  font-size: 1.1rem;
  -webkit-user-select: none;
  user-select: none;
  transition: all;
  transition-duration: 0.2s;
  background-color: rgba(235, 235, 235, 0.856);
}
#hd_themeToggle:hover {
  color:initial;
}
[data-theme="dark"] #hd_themeToggle {
  color: rgb(255, 255, 255);
  background-color: rgba(31, 31, 31, 0.856);
}
.hd_canhide{
  display: auto;
}

.hamburger-wrapper .main-content{
  display: flex;
}
.hamburger-wrapper .dash-wrapper{
  display: none;
}

.hd_desktop_hide{
    display: none;
}

#floating-alert-wrapper {
  position: fixed;
  right: 0;
  top: 5rem;
  z-index: 5;
  overflow: hidden;
}
#floating-alert-wrapper .floating-alert{
  display: none;
  flex-direction: row;
  background: var(--tertiary);
  border-radius: 9px;
  margin: 20px 10px;
  transition: all 1s ease-out;
  transform: translateX(150%);
  cursor: pointer;
  padding: 0!important;
}
#floating-alert-wrapper .floating-alert.show{
  transform: translateX(0%);
}
#floating-alert-wrapper .floating-alert .main-content{
  margin: 1rem;
  width: 18rem;
  text-align: left;
  -webkit-user-select: none;
  user-select: none;
}

@media(max-width:700px){
  .hd_canhide{
    display: none;
  }
  .hd_desktop_hide{
    display: block;
  }
  #hd_opts{
    flex-direction: row-reverse;
  }
  .hamburger-wrapper{
    margin-right: .6rem;
  }
  .hamburger-wrapper .dash-wrapper{
    display: flex;
    flex-direction: column;
    z-index: 4;
    position: relative;
    height: 2rem;
  }
  .hamburger-wrapper .dash{
    width: 1.2rem;
    height: 1.3px;
    background: var(--primary);
    transition: all 0.5s ease-in-out;
    margin: 2px 0;
  }
  .hamburger-wrapper.active .dash:first-child{
    transform: rotateZ(45deg);
    opacity: 1;
  }
  .hamburger-wrapper.active .dash{
    opacity: 0;
    margin: 0 0;
  }
  .hamburger-wrapper.active .dash:last-child{
    transform: rotateZ(135deg);
    opacity: 1;
  }
  .hamburger-wrapper .main-content{
    flex-direction: column;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background: var(--tertiary);
    z-index: 3;
    transition: transform 0.5s linear;
    transform: translateY(-100%);
  }
  .hamburger-wrapper.active .main-content{
    transform: translateY(0%);
  }
  .hamburger-wrapper .main-content .btn{
    margin: 20px;
    max-width: 20rem;
    min-width: 15rem;
    align-self: center;
  }
  .notification-wrapper .notification{
    width: 90vw;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .notification-wrapper .notification::-webkit-scrollbar {
    display: none;
  }
  .notification-wrapper img{
    height: 17px;
  }
  .notification-wrapper #notification-bell{
    margin: 0 .2rem;
  }
  #floating-alert-wrapper{
    display: none;
  }
}