#header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.329);
  z-index: 2;
  border-bottom: solid thin;
}
#hd_space{
  height: 3rem;
}
#header.float{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
[data-theme="dark"] #header {
  background-color: rgba(0, 0, 0, 0.329);
  border-bottom: none;
}
#hd_hero {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hd_icon {
  height: 3rem;
}
.hd_opt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.6rem;
  box-shadow: 3px 3px 0px #989898;
  background-color: rgba(235, 235, 235, 0.856);
}
[data-theme="dark"] .hd_opt {
  box-shadow: 3px 3px 0px #9e9e9e;
  background-color: rgba(31, 31, 31, 0.856);
}
.hd_opt:hover {
  box-shadow: 5px 5px 0px #989898;
  background-color: rgb(255, 255, 255);
  color:rgb(46, 46, 46);
}
[data-theme="dark"] .hd_opt:hover {
  box-shadow: 5px 5px 0px #747474;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
#hd_toggleBox {
  padding: 0.2rem 0.6rem;
}
#hd_themeToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  padding: auto;
  font-size: 1.1rem;
  -webkit-user-select: none;
  user-select: none;
  transition: all;
  transition-duration: 0.2s;
  background-color: rgba(235, 235, 235, 0.856);
}
#hd_themeToggle:hover {
  color:initial;
}
[data-theme="dark"] #hd_themeToggle {
  color: rgb(255, 255, 255);
  background-color: rgba(31, 31, 31, 0.856);
}
.hd_canhide{
  display: auto;
}
@media(max-width:700px){
  .hd_canhide{
    display: none;
  }
}