#header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.329);
  z-index: 2;
}
#hd_space{
  height: 3rem;
}
#header.float{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
[data-theme="dark"] #header {
  background-color: rgba(0, 0, 0, 0.329);
}
#hd_hero {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hd_icon {
  height: 3rem;
}
.hd_opt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1.2rem;
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.hd_opt:hover {
  color: inherit;
  color: var(--blue);
}
#hd_toggleBox {
  padding: 0.2rem 1rem;
}
#hd_themeToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.1rem;
  color: white;
  border-radius: 100%;
  background-color: rgb(180, 180, 180);
  border: solid thin rgba(179, 179, 179, 0.301);
  -webkit-user-select: none;
}
[data-theme="dark"] #hd_themeToggle {
  color: black;
  background-color: rgb(88, 88, 88);
  border: solid thin rgba(90, 90, 90, 0.301);
}
.hd_canhide{
  display: auto;
}
@media(max-width:700px){
  .hd_canhide{
    display: none;
  }
}