#s1 {
  padding-top: 2rem;
}
.ft_cover {
  position: absolute;
  width: 100%;
  top: 0rem;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--bg));
  height: 45rem;
  max-height: 88vh;
}
.ft_box {
  position: relative;
  margin-top: 3rem;
  min-height: 10rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
}
.ft_intro {
  padding: 1.2rem 0.5rem;
  margin-left: 0rem;
  max-width: 40rem;
  padding-left: 0px;
  font-family: ff-tisa-web-pro, "Basic Sans", basic-sans, georgia, serif;
  font-size: 18px;
  font-weight: 300;
}
.ft_intro > a{
    display: inline-block;
    padding-top: 0.8rem;
    font-family: "Basic Sans", basic-sans, "Helvetica Neue", helvetica, arial, sans-serif;
}
.ft_txt {
  padding: 0rem 1.2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ft_img {
  width: 100%;
  height: 20rem;
  max-height: 88vh;
  object-fit: cover;
  position: relative;
  border-radius: 0.2rem;
  box-shadow: 6px 6px black;
  border: solid thin black;
  transition-property: all;
  transition-duration: 0.4s;
}
.ft_img:hover {
  box-shadow: 9px 9px black;
  filter: brightness(0.7);
}
.ft_img_link:hover {
  opacity: 1;
}
.parallax-mirror {
  z-index: 0 !important;
}
@media (max-width: 900px) {
  .ft_box {
    grid-template-columns: 50% 50%;
  }
  .ft_img {
    height: auto;
  }
}
@media (max-width: 700px) {
  .ft_box {
    display: flex;
    flex-direction: column;
    padding: 2rem 0px;
    margin-top: 1.2rem;
  }
  .ft_img {
    max-height: 13rem;
    box-shadow: none;
    border-radius: 0;
    border: none;
  }
  .ft_txt {
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 0px;
  }
}
.cat-title {
  max-width: 60.5rem;
  margin: 0px auto;
  margin-bottom: 0.6rem;
  display: block;
  width: 100%;
  padding-left: 0.5rem;
}
.cat-title:hover {
  color: rgba(129, 129, 129, 0.774);
  padding-left: 1.2rem;
  transition-property: all;
  transition-delay: 0.2s;
  transition-duration: 0.6s;
}
