#cont{
padding-top: 2rem;
}
#s1{
    padding: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#s2{
    max-width: 26rem;
    margin: 0.6rem auto;
    margin-left: 0rem;
}
#s3{
    padding: 1rem 0.3rem;
    font-size: 1rem;
    color: var(--grey);
    font-weight: 400;
    max-width: 28rem;
}
#followers_count{
    padding-right: 1rem;
    font-size: 0.9rem;
}
#followsYou{
    padding: 1rem;
    padding-top: 0px;
}
#s1_img{
    height: 6rem;
    width:6rem;
    border-radius: 50%;
    background-color: var(--tertiary);
    object-fit: cover;
    object-position: center;
}
#s1_txt{
    padding-left: 2rem;
}
#s1_title{
    font-size: 2rem
}
@media(max-width:700px){
    #s1{
        flex-direction: column;
        text-align: center;
    }
    #followsYou{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #s2{
        margin: 0.6rem auto;
    }
    #s1_txt{
        padding-left: 0rem;
    }
    #s3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media(max-width:600px){
    #s1_title{
        font-size: 1.5rem
    }
}