body{
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
#bg {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
.input {
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  width: 17rem;
  max-width: 85vw;
  height: 2.6rem;
  background-color: rgb(255 255 255 / 90%);
  color: #353535;
  border: none;
  border-radius: 0;
  margin: 0.3rem 0.3rem;
}
.helptext{
  width: 17rem;
  max-width: 85vw;
  font-size: 0.9rem;
  color:var(--grey);
  font-weight: 200;
  padding: 0.1rem 0.3rem;
}
.trunc {
  width: 16rem;
  max-width: 40vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trunc-long{
  width: 37rem;
  max-width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media(max-width:350){
  .trunc {
    max-width: 34vw;
  }
}
button[type=submit]{
  padding: 0.5rem;
  width: 100%;
  margin: 0.8rem 0.3rem;
  background: rgb(0, 119, 255);
  color:white;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.2rem;
  width: 17rem;
  max-width: 85vw;
}
button[type=submit]:hover{
  background: rgb(0, 153, 255);
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  width: 17rem;
  max-width: 85vw;
  height: 2.6rem;
  background-color: rgb(233, 233, 233);
  color: rgb(75, 75, 75);
  border: solid thin rgb(199, 199, 199);
  margin: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  outline: none;
}
[data-theme="dark"] input{
  background-color: rgb(36, 36, 36);
  color: rgb(211, 211, 211);
  border: solid thin rgb(44 44 44);
}
input[type=checkbox]{
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  height: 1rem;
  width: 1rem;
  padding: auto;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 300;
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  width: 17rem;
  height: 5rem;
  max-width: 85vw;
  background-color: rgb(233, 233, 233);
  color: rgb(75, 75, 75);
  border: solid thin rgb(199, 199, 199);
  margin: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  outline: none;
}
[data-theme="dark"] textarea{
  background-color: rgb(36, 36, 36);
  color: rgb(211, 211, 211);
  border: solid thin rgb(44 44 44);
}
.errorlist{
  list-style: none;
  padding: 0.3rem 0.2rem;
  color:rgb(221, 0, 0);
  font-size: 0.9rem;
  width: 17rem;
  max-width: 85vw;
  text-align: left;
}

.toggle-container {
  position: relative;
}

.toggle-button {
  display: flex;
  align-items: center;
  background: rgb(214, 214, 214);
  border:solid thin rgb(192, 192, 192);
  width: 2.6rem;
  height: 1.6rem;
  border-radius: 30px;
  padding: 0.15rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
[data-theme="dark"] .toggle-button{
  background: rgb(78, 78, 78);
  border-color:rgb(88, 88, 88);
}

.toggle-button > .inner-circle {
  background: white;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 4px 0px #2b2b2bd4;
}

.toggle-button.active {
  background: linear-gradient(90deg,#00a516,#008b00);
  border: none;
}

.toggle-button.active > .inner-circle {
  margin-left: 1rem;
}

#tiny {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  object-position: center;
  
}
.t1{
  margin-top: 20px;
}


