{% extends "base.html" %}
{% block title %}
{{blog.title}} - DSC IEM Blogs
{% endblock %}
{% block content %}
<script src="/static/scripts/parallax.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/blog.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/md.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/emacs.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/blogsGrid.css" />
<div class="b_img" data-parallax="scroll" data-speed="0.7" data-image-src="{{blog.img_url}}" >
</div>
<div class="container blog_opts">
{% if is_owner %}
<br/>
<div class="hstack space-between bi_opts">
    {% if not blog.is_published %}
    <div>
        <img class="bi_locked" alt="locked" src="/static/icons/locked.png" />
    </div>
    {% endif %}
    <div style="display:flex">
        <a href="/blog/{{blog.blog_id}}/edit" class="bi_opt center">Edit</a>
        <a href="/blog/{{blog.blog_id}}/settings" class="bi_opt center">Settings</a>
    </div>
</div>
{% endif %}    
</div>

<div class="markdown">
        <div onclick="openLink('/@{{blog.author.username}}')" 
        class="size-s ink-secondary base-semilight blog-author clickable">
            {{blog.author.username}}
        </div>
    <div class="size-s base-light ink-grey">{{blog.modified_on}}</div>
    <div class="size-xxl ink-primary base-regular blog-title">{{blog.title}}</div>
    <br/>
    {% autoescape off %}
    {{html}}
    {% endautoescape %}
</div>
<div id="react_box" class="center">
    <div class="react" id="like">👍<div class="react_count" id="like_count">{{blog.reaction_counts.LIK}}</div></div>
    <div class="react" id="love">❤<div class="react_count" id="love_count">{{blog.reaction_counts.LOV}}</div></div>
    <div class="react" id="lit">🔥<div class="react_count" id="lit_count">{{blog.reaction_counts.LIT}}</div></div>
    <div class="react" id="cool">🆒<div class="react_count" id="cool_count">{{blog.reaction_counts.COL}}</div></div>
    <div class="react" id="clap">👏<div class="react_count" id="clap_count">{{blog.reaction_counts.CLP}}</div></div>
</div>
<br/>
<div class="center">
    <a href="/blog/{{blog.blog_id}}/comments" id="comments_button" class="size-s base-regular ink-blue" >
        {{blog.comments_count}} Comments
    </a>
</div>
<br />
<br />
<div class="container" id="more">
        <div style="padding-left: 1.5rem;" class="size-m base-semilight ink-grey">Keep reading</div>
    <hr/>
    {% include "blocks/blogsGrid.html" with items=more_blogs is_owner=False  %}
</div>
<br />
<script>
    const REACTS={
    'LIK':'like',
    'LOV':'love',
    'LIT' :'lit',
    'COL' : 'cool',
    'CLP' : 'clap',
    'None': null
    }
    var counts={
        like:{{blog.reaction_counts.LIK}},
        love:{{blog.reaction_counts.LOV}},
        lit:{{blog.reaction_counts.LIT}},
        cool:{{blog.reaction_counts.COL}},
        clap:{{blog.reaction_counts.CLP}}
    }
    var currentReact=REACTS['{{blog.user_reaction}}']
    var blog_id={{blog.blog_id}}
    var is_loading=false;
    var api = new window.Api();
    function renderReacts(){
        Object.keys(counts).forEach(react => {
            $("#"+react).removeClass('active');
            $("#"+react+'_count').html(counts[react]);
            if(currentReact==react){
                $("#"+react).addClass('active');
            }
        });
    }
    renderReacts();
    function react(code){
        if(!is_loading){
        is_loading=true;
        api.post('blog/react', {
            reaction:code,
            blog_id
        }, (scode, res) => {
            is_loading = false
            if (scode == 201) {
                if(currentReact!=REACTS[code]){
                    counts[currentReact]--;
                    counts[REACTS[code]]++;
                }
                currentReact=REACTS[code]
                renderReacts();
            } else if (scode == 400) {
                alert(res.msg);
            } else if (scode == 401) {
                window.location.href = "/accounts/login?next="+window.location.pathname
            }
        })
    }
    }
    $("#like").on('click',function(){react('LIK')})
    $("#love").on('click',function(){react('LOV')})
    $("#lit").on('click',function(){react('LIT')})
    $("#cool").on('click',function(){react('COL')})
    $("#clap").on('click',function(){react('CLP')})
</script>
{% endblock %}