{% extends "base.html" %}
{% block title %}
{{blog.title}} - DSC IEM Blogs
{% endblock %}
{% block content %}
<script src="/static/scripts/parallax.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/blog.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/md.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/emacs.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/blogsGrid.css" />
<div class="b_img" data-parallax="scroll" data-speed="0.7" data-image-src="{{blog.img_url}}" >
</div>
<div class="container blog_opts">
{% if is_owner %}
<br/>
<div class="hstack space-between bi_opts">
    {% if not blog.is_published %}
    <div>
        <img class="bi_locked" alt="locked" src="/static/icons/locked.png" />
    </div>
    {% endif %}
    <div style="display:flex">
        <a href="/blog/{{blog.blog_id}}/edit" class="bi_opt center">Edit</a>
        <a href="/blog/{{blog.blog_id}}/settings" class="bi_opt center">Settings</a>
    </div>
</div>
{% endif %}    
</div>

<div class="markdown">
    <div class="size-s base-light ink-grey">{{blog.modified_on}}</div>
    <div class="size-xxl ink-primary base-light blog-title">{{blog.title}}</div>
    <div class="size-s ink-grey base-semilight blog-author">
        By <a href="/@{{blog.author.username}}">{{blog.author.username}}</a>
    </div>
    <br/>
    {% autoescape off %}
    {{html}}
    {% endautoescape %}
</div>
<br />
<br />
{% endblock %}