<link rel="stylesheet" type="text/css" href="/static/styles/header.css" />
{% if not blank %}
{% if header.float %}
<div id="header" class="float">
{% else %}
<div id="header">
{% endif %}
    <a id="hd_hero" href="/"><img id="hd_icon" src="/static/icons/icon.png" /></a>
    <div id="hd_opts" class="hstack space-around">
        <div class="hamburger-wrapper" id="hamburger-button">
            <a class="dash-wrapper hd_opt btn btn-bordered">
                <div class="dash"></div>
                <div class="dash"></div>
                <div class="dash"></div>
            </a>
            <div class="main-content">
        {% if not header.is_empty %}
        <a class="hd_opt btn btn-bordered" href="/explore">Explore</a>
        <a class="hd_opt btn btn-bordered hd_desktop_hide" href="/trending">Trending</a>
        <a class="hd_opt btn btn-bordered hd_desktop_hide" href="/popular">Popular</a>
        {% if header.is_loggedin %}
        <a class="hd_opt btn btn-bordered" href="/create">Write</a>
        <a class="hd_opt btn btn-bordered" href="/profile">Profile</a>
        {% else %}
        <a class="hd_opt btn btn-bordered" href="/accounts/login">Log In</a>
        {% endif %}
        {% endif %}
            </div>
        </div>
        <div id="hd_toggleBox">
            <div id="hd_themeToggle" class="btn btn-bordered">☀</div>
        </div>
        
    </div>
</div>
{% if header.float %}
<div id="hd_space"></div>
{% endif %}
{% endif %}
<script>
    function systemTheme() {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return 'dark'
        } else {
            return 'light'
        }
    }
    if (document.documentElement.getAttribute("data-theme") == 'dark') {
        $("#hd_themeToggle").html("🌜");
    }
    $("#hd_themeToggle").on('click', () => {
        if (document.documentElement.getAttribute("data-theme") == 'dark') {
            if (systemTheme() == 'light')
                window.changeTheme('system');
            else
                window.changeTheme('light');
            $("#hd_themeToggle").html("☀");
        } else {
            if (systemTheme() == 'dark')
                window.changeTheme('system');
            else
                window.changeTheme('dark');
            $("#hd_themeToggle").html("🌜");
        }
    })
    
    // Hamburger Click Event
    $('#hamburger-button').on('click', () => {
        const $elem = $('#hamburger-button');
        const $mainContent = $('.main-content', $elem);
        const activeClass = 'active';
        if ($elem.hasClass(activeClass)) {
            $elem.removeClass(activeClass);
            $mainContent.fadeTo(0);
            $('body').css('overflow', 'scroll');
        } else {
            $elem.addClass(activeClass);
            $mainContent.fadeTo(1);
            $('body').css('overflow', 'hidden');
        }
    });

</script>
