{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/index.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/blogsGrid.css" />
<link rel="stylesheet" href="https://use.typekit.net/apw7exh.css">
{% include "blocks/catalogue.html"  %}
{% if featured_blog %}
<div class="ft_box">
    <a class="ft_img_link" href="{{featured_blog.blog_url}}"><img class="ft_img" src="{{featured_blog.img_url}}"></a>
    <div class="ft_txt">
        <div class="ink-grey size-s base-regular">SPOTLIGHT</div>
        <div class="ink-secondary size-xl base-semibold ft_title">{{featured_blog.title}}</div>
        <div class="container ink-secondary ft_intro">
            <div>{{featured_blog.intro|striptags}}...</div>
            <a href="{{featured_blog.blog_url}}" class="size-xs base-regular ink-grey clickable">
                Continue reading >
            </a>
        </div>
    </div>
</div>
{% else %}
<br />
<br />
{% endif %}
<div class="container" id="s1">
    {% include "blocks/blogsGrid.html" with items=blogs.feed  %}
</div>
{% for catagory in blogs.cats %}
<div class="container">
    <a class="cat-title ink-secondary base-light size-l" href="/cat/{{catagory.cat}}">{{catagory.title}} <span
            class="ink-tertiary">></span></a>
    {% include "blocks/blogsGrid.html" with items=catagory.blogs  %}
</div>
<div style="height: 0.6rem;"></div>
{% endfor %}
{% endblock %}