{% extends "base.html" %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/profile.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/blogsGrid.css" />
<div class="container">
    <div id="s1">
    {% if user.name %}
    <div id="s1_title" class="ink-primary base-light">
        {{user.name}}
    </div>
    {% endif %}
    <div class="size-s base-semilight ink-grey">@{{user.username}}</div>
    <hr/>
    </div>
    {% include "parts/blogsGrid.html" with items=user.blogs  %}
</div>
{% endblock %}