{% extends "base.html" %}
{% block title %}{{user.username}} - DSC IEM{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/profile.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/blogsGrid.css" />
<div class="container">
    <div id="s1">
        {% if user.avatar_url %}
            <div>
                <img id="s1_img" src="{{user.avatar_url}}" />
            </div>
            {% endif %}
        <div id="s1_txt">
            {% if user.name %}
            <div id="s1_title" class="ink-primary base-light">
                {{user.name}}
            </div>
            {% endif %}
            <div class="size-s base-semilight ink-grey">@{{user.username}}</div>
        </div>
    </div>
    <div id="s2" class="center">
        {% if user.is_self %}
        <a class="button rounded" href="/userSettings">Settings</a>
        {% endif %}
    </div>
    {% if user.bio %}
    <div id="s3">{{user.bio}}</div>
    {% endif %}
    <hr />
    <br/>
    {% include "parts/blogsGrid.html" with items=user.blogs  %}
</div>
{% endblock %}