{% extends "base.html" %}
{% block title %}
Top 25 - DSC IEM Blogs
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/explore.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/blogsGrid.css" />
<div></div>
<div class="container" id="s1">
    <div id="s1_title" class="ink-primary base-light">
        Popular
        <div class="size-m base-semilight ink-grey">Top 25 blogs</div>
    </div>
    <hr/>
    {% include "blocks/blogsGrid.html" with items=blogs  %}
</div>
{% endblock %}